/* #c79f27 oscar*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&family=Inter:wght@100;400;700&display=swap");

* {
    font-family: "futura book legacy", "FuturaPT-Book", "Trebuchet MS", Arial,
        sans-serif;
    box-sizing: border-box;
    // color: #09111d;
}

.dark-mode {
    .ant-drawer-content {
        background-color: #0f1c2f;
        color: #eee;
    }

    .oscar-body {
        background-color: #09111d;
    }

    .oscar-header {
        background-color: #09111d;
        color: #eee;
    }

    .movie-list,
    .movie-checker {
        background-color: #09111d;
    }

    .watch-checkbox {
        color: #eee;
    }

    .ant-card-meta-description {
        color: #aaa;
    }

    .ant-card,
    .ant-card-actions {
        background-color: #09111d;
        color: #eee;
        border-color: #09111d;
    }

    .ant-card-actions {
        border-top-color: #666;
    }

    .ant-card-actions>li:not(:last-child) {
        border-right-color: #666;
    }

    .new-card {
        color: #eee;
    }

    .ant-popover {
        color: rgba(255, 255, 255, 0.85);
        z-index: 1006;

        .ant-popover-inner {
            z-index: 1006;
            background-color: #09111d;
            box-shadow: 0 3px 6px -4px rgb(10 19 33 / 48%),
                0 6px 16px 0 rgb(10 19 33 / 32%), 0 9px 28px 8px rgb(0 0 0 / 20%);

            .ant-popover-title {
                color: rgba(255, 255, 255, 0.85);
                z-index: 1006;
            }
        }
    }

    .ant-popover-arrow-content {
        background-color: #09111d;
        z-index: 1006;
    }

    .ant-popover-arrow-content::before {
        background: linear-gradient(to left, #09111d 50%, #09111d 50%) no-repeat -10px -10px;
        background-color: #09111d;
        z-index: 1006;
    }

    .ant-message-notice-content {
        background-color: #09111d;
        color: rgba(255, 255, 255, 0.85);
        z-index: 1006;
    }

    .modal-actions {
        h3 {
            color: #eee;
        }

    }

    .form-layout {
        .label-form {
            color: #eee
        }


        .form-button {
            color: #eee;
            border: 1px solid #eee;
            align-self: flex-end;

            &:hover,
            &:focus,
            &:focus-within {
                background-color: #c79f27;
                border: 1px solid #c79f27;
                color: #eee;

            }
            &:disabled{
                background-color: #666;
                pointer-events: none;

            }
        }
    }


    .movie-banner .banner-backdrop .banner-content .modal-information {
        background-color: transparent;
    }

}