/* #c79f27 oscar*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&family=Inter:wght@100;400;700&display=swap");

* {
  font-family: "futura book legacy", "FuturaPT-Book", "Trebuchet MS", Arial,
    sans-serif;
  box-sizing: border-box;
  // color: #09111d;
}

.ant-drawer-content-wrapper {
  height: 100% !important;
  z-index: 1102;
}

.ant-switch {
  background-color: #09111d;
}

.ant-switch-checked {
  background-color: #ccc;
}

.switch-icon {
  color: #c79f27;
  font-size: 20px;
  height: 100%;
}

.settings-box {
  background-color: rgb(9, 17, 29, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(223, 223, 223, 0.1);
  padding: 8px 16px;
  margin-top: 16px;
}

.lucky-button{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  align-items: center;
  border: none;

}

.average-stars {
  color: #b4912f;
  font-size: 1rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.miniposter-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.miniposter {
  max-width: 80px;
}

.miniposter-list::-webkit-scrollbar {
  width: 0;
}

.minilist-categories {
  display: flex;
  flex-direction: column;

  .percent-movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .percent {
    color: #b4912f;
    font-size: 2rem;
  }

  .miniposter-list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .miniposter-list::-webkit-scrollbar {
    width: 0.5em;
  }
}

.conclusion {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-around;
  align-items: center;

  .percent-movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .percent {
    color: #b4912f;
    font-size: 2rem;
  }

  .timespent {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      color: #b4912f;
    }
  }
}

.oscars-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b4912f;

  span {
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    color: #b4912f;
  }
}

.ceremony {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date-value {
  font-size: 2.5rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.countdown-date {
  max-width: 35%;
}

.oscars-setting-logo {
  padding: 16px 0;
  max-width: 60%;
}

.settings-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.settings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.caret {
  cursor: pointer;
  transition: all ease 0.3s;
  color: #c79f27;
  font-size: 2.5rem;
}

.down {
  &:hover {
    transform: translateY(-2px);
  }
}

.left {
  &:hover {
    transform: translateX(-2px);
  }
}

.ant-drawer-content {
  background-color: #eee;
  border-top-left-radius: 15px;
}

.ant-drawer-body {
  padding: 0;
}

.mobile {
  display: none;
}

.poster-image-section {
  width: 15vw;
  position: relative;
  border: 1px solid transparent;
  transition: all ease 0.3s;
}

.poster-image {
  width: 100%;
  cursor: pointer;
}

.checkwatch-card {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  min-width: 60px;
  font-size: 2rem;
}

.checkwatch-card-drawer {
  font-size: 2rem;
}

.round-button {
  border-radius: 50%;
  height: 35px;
  min-width: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54788a;
  color: #eee;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease 0.3s;

  &:hover {
    transform: translateY(-2px);
  }
}

.float-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 8px;
  z-index: 1005;
}

.checkbox-watch {
  color: #fceca9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c79f27;
  cursor: pointer;
}

.not-seen {
  background-color: #54788a;
  color: #8ca5b1;
}

.movie-banner {
  width: 100%;
  height: 100vh;
  position: relative;

  .banner-poster-image {
    max-width: 500px;
  }

  .close-button {
    z-index: 1005;
    cursor: pointer;
    font-weight: 700;
  }

  .banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(50%) blur(10px);
    background-color: #0e0e0e;
  }

  .banner-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;
    font-size: 1.2rem;
    padding: 30px 40px;
    display: grid;
    justify-items: center;
    align-items: center;

    .banner-content {
      max-width: 1600px;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      position: relative;

      .modal-information{
        background-color: #eee;
      }
      
      .banner-information {
        position: relative;
        padding: 30px 40px;
        min-width: 500px;
        color: #eee;

        .banner-upper {
          display: flex;
          flex-direction: column;
        }

        .banner-title {
          font-size: 2rem;
          font-weight: 700;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #c79f27;
          position: relative;
        }

        .banner-name {
          margin-right: 24px;
        }

        .banner-subtitle {
          font-size: 0.9rem;
          font-weight: 500;
          color: #aaa;
          margin-bottom: 1rem;
        }

        .banner-topic {
          color: #c79f27;
          font-weight: 700;
          font-size: 1.1rem;
        }

        .banner-body {
          font-size: 1rem;
        }
      }
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 0.05rem solid rgba(204, 204, 204, 0.3);
  margin: 0.5em 0;
  padding: 0;
}

.oscar-body {
  height: 100vh;
  width: 100%;
}

.oscar-table {
  height: calc(100vh - 200px - 10vmin);
  overflow: auto;
}

.oscar-logo {
  height: 48px;
  pointer-events: none;
}

.tag-category {
  margin: 8px;
  text-transform: uppercase;
  user-select: none;
}

.tag-major {
  text-transform: uppercase;
  user-select: none;
}

.nominees-count {
  user-select: none;
}

.title-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.oscar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  font-size: calc(10px + 2vmin);
  color: #111;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.header-action {
  display: flex;
  align-items: center;
  transition: all;
  justify-content: space-between;

  span {
    padding-left: 8px;
  }

  .header-search-add {
    display: flex;
    flex-direction: row-reverse;
  }
}

.watched {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.omdb-plot,
.omdb-poster {
  width: 250px;
  max-width: 250px;
  max-height: 370px;
}

.movie-indications {
  cursor: pointer;
}

.list-category {
  max-width: 250px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 170px;
  overflow-y: auto;
  flex-wrap: nowrap;

}

.list-category::-webkit-scrollbar {
  width: 0;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
  background-color: #eee;
  max-width: 100vw;
}

.new-card {
  display: flex;
  flex-direction: row;
  transition: all ease 0.3s;

  .card-data {
    padding: 0 16px;
  }

  .card-title {
    color: #c79f27;
    margin-bottom: 0;
    cursor: pointer;

    .card-title-name {
      font-size: 1.1rem;
      font-weight: 700;
      transition: all ease 0.3s;

      &:hover {
        color: #b4912f;
      }
    }

    .card-title-year {
      font-size: 0.8rem;
      margin-left: 4px;
    }
  }

  .card-subtitle {
    display: flex;
    flex-direction: column;
  }
}

.star-icon {
  color: #c79f27;
  margin-right: 4px;
  font-size: 16px;
}

.ant-rate-star {
  color: #c79f27;
}

.stars-poster {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 4px;
  background-color: rgba(15, 28, 47, 0.5);
}

.ant-card-body {
  padding: 0;
}

.watch-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  border: 1px solid transparent;
  transition: border ease 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1007;
  font-size: 2rem;
  transition: all ease 0.3s;
}

.movie-card {
  transition: all ease 0.3s;
}

.ant-card-bordered .ant-card-cover {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.movie-card:hover {
  opacity: 1;
  border-color: #c79f27 !important;

  .watch-checkbox {
    border-bottom-color: #c79f27;
    border-left-color: #c79f27;
  }
}

.movie-checker {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 90px;
  height: 40px;
  background-color: #efefef;
  transition: all ease 0.2s;
}

.watch-checked {
  width: 40px !important;
  overflow: hidden;
}

.ant-checkbox-checked.ant-checkbox+span {
  position: absolute;
  opacity: 0;
  padding: 0;
  transition: opacity ease 0.1s;
}

.ant-checkbox+span {
  transition: opacity ease 0.4s;
  opacity: 1;
}

.movie-plot {
  display: flex;
  flex-direction: column;
  // max-height: 300px;
  // overflow-y: auto;
}

.movie-plot p {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.animated-button {
  transform-origin: 0 0;

  &:hover {
    transform: rotate(-90deg);
  }

  &:active {
    animation: rotate 1 1s;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-button {
  cursor: pointer;
  font-size: 32px;
  color: #c79f27;
  transition: all ease 0.3s;

  &:hover {
    transform: translateY(-2px);
  }
}

.ant-rate-star-focused {

  .ant-rate-star-first,
  .ant-rate-star-second {
    color: #b4912f;
  }
}

.ant-rate-star-zero {

  .ant-rate-star-first,
  .ant-rate-star-second {
    color: #ccc;
  }
}

.ant-rate-star-half {
  .ant-rate-star-second {
    color: #ccc;
  }
}

.ant-popover-arrow {
  background: transparent;
  border-bottom-color: #c79f27 !important;
  border-right-color: #c79f27 !important;
  z-index: 1006;
}

.ant-popover-inner {
  z-index: 1006;
  border: 1px solid #c79f27 !important;
}

.ant-popover-title {
  z-index: 1006;
  border-bottom: 1px solid rgba(200, 160, 40, 0.25);
}

.awards {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.rating-view {
  font-size: 0.6rem;
}

@media (hover: none) and (pointer: coarse) {
  /* smartphones */

  body {
    user-select: none;
  }

  .movie-card:hover {
    border-color: transparent !important;

    .watch-checkbox {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
}

.plot-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 1368px) {
  .poster-image-section:hover {
    border-color: #c79f27;
    transform: translateY(-2px);
  }

  .oscar-body {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
    padding-top: 65px;
    .oscar-header{
      position: fixed;
      top:0;
      z-index: 99;
      width: 100vw;
    }
  }

  /* Scrollbar styles for WebKit browsers */
  .oscar-body::-webkit-scrollbar {
    width: 0.5em;
  }

  .oscar-body::-webkit-scrollbar-thumb {
    background-color: rgba(180, 145, 47, 0.5);
    border-radius: 5px;
  }

  .oscar-body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 145, 47, 0.5);
  }

  .oscar-body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .oscar-body--hint::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .oscar-body--hint::-webkit-scrollbar-thumb {
    background-color: rgba(180, 145, 47, 0.5);
  }

  .oscar-body--hint:hover::-webkit-scrollbar-track {
    background-color: rgba(180, 145, 47, 0.5);
  }

  .oscar-body--hint:hover::-webkit-scrollbar-thumb {
    background-color: rgba(180, 145, 47, 0.5);
  }
}

.subtitle-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  .ant-rate {
    font-size: 32px;
  }
}

.no-margin {
  margin: 0;
}

.awards-columns {
  display: flex;
  justify-content: space-between;
}

.search-box {
  width: 32px;
  margin-right: 16px;
  color: #c79f27 !important;

  input {
    color: #c79f27 !important;
  }

  &.opened {
    width: 50vw;
    border: 1px solid #c79f27 !important;
    border-radius: 30px;
  }

  &:focus,
  &:focus-within {
    width: 50vw;
    border: 1px solid #c79f27 !important;
    border-radius: 30px;
  }
}

.input {
  margin-right: 16px;
  color: #c79f27 !important;
  background-color: #09111d;
  border-radius: 30px;


  &:focus,
  &:focus-within {
    border: 1px solid #c79f27 !important;
  }

}

.modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;

  h3 {
    color: #09111d;
  }
}

.form-button {
  color: #09111d;
  border: 1px solid #09111d;
  align-self: flex-end;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: #c79f27;
    border: 1px solid #c79f27;
    color: #eee;

  }
}

.form-layout {
  display: flex;
  flex-direction: column;

  .radio-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;

    .ant-radio {
      display: none !important;
    }

    .radio-icon {
      // transition: none;
      margin: 0;
      opacity: 0.3;

      &:hover,
      &:focus,
      &:focus-within {
        transform: translateY(2px);
      }
    }

    .ant-radio-checked+span {
      .radio-icon {
        width: 42px;
        // border: 1px solid #c79f27;
        opacity: 1;
        // border-radius: 50%;
        transform: scale(1.5);
      }
    }



  }




  .label-form {
    margin-top: 32px;
    color: #09111d
  }
}

.hidden {
  display: none !important;
}

a {
  all: unset;

  &:hover {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
    transition: all ease;
  }
}

.add-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.search-mini-list-grid{
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;

  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  justify-items: center;
  align-items: center;

  .search-item-poster{
    cursor: pointer;
    transition: all ease-in 0.1s;
    opacity: 0.5;
  }
  .search-item-poster-selected{
    opacity: 1;
    border: 3px solid #c79f27;
  }
}

/* 👇 Só aplica hover em dispositivos com mouse/trackpad */
@media (hover: hover) and (pointer: fine) {
  .search-item-poster:hover {
    transform: scale(1.05);
  }
}

.search-input-box{
  margin-right: 16px;
  color: #c79f27 !important;
  background-color: transparent;
  border: none;
  

.ant-input-wrapper{
  border: none;
  .ant-input-affix-wrapper{
    background-color: #09111d;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    input{
      color: #c79f27 !important;
      background-color: #09111d;
      
    }
    &:focus,
      &:focus-within {
        border: 1px solid #c79f27 !important;
      }
      .ant-input-suffix{
        svg {
          fill:#c79f27
        }
      }
  }
}

.ant-input-group-addon{
  background-color: transparent;
  .ant-btn {
    background-color: #09111d;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    svg{
      fill:#eee
    }
  }

}

}