/* #c79f27 oscar*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&family=Inter:wght@100;400;700&display=swap");

* {
    font-family: "futura book legacy", "FuturaPT-Book", "Trebuchet MS", Arial,
        sans-serif;
    box-sizing: border-box;
    // color: #09111d;
}

// Notebook
@media screen and (max-width: 1367px) {
    .card-data {
        font-size: 0.9rem;
    }

    .movie-list {
        padding-bottom: 100px;
        grid-template-columns: 1fr 1fr;
    }

    .poster-image-section {
        width: 300px;
        max-width: 250px;
    }

    .movie-banner .banner-poster-image {
        max-width: 450px;
    }

    .movie-banner {
        .banner-backdrop {
            font-size: 1rem;

            .banner-content {
                .banner-information {
                    .banner-title {
                        font-size: 1.5rem;
                    }

                    .banner-subtitle {
                        font-size: 0.8rem;
                    }

                    .banner-topic {
                        font-size: 0.9rem;
                    }

                    .banner-body {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

// Tablet
@media screen and (max-width: 1024px) {
    .oscar-body::-webkit-scrollbar {
        width: 0;
    }

    .movie-list {
        padding-bottom: 100px;
        grid-template-columns: 1fr;
    }

    .poster-image-section {
        max-width: 195px;
    }

    .miniposter-list {
        overflow-x: auto;
        scrollbar-width: none;

        flex-wrap: nowrap;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .drawer-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner-information {
        padding: 8px 16px;
    }

    .backdrop-drawer-image {
        width: 100%;
        height: 102%;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 1) 5%,
                rgba(219, 219, 219, 0) 50%,
                rgba(0, 0, 0, 1) 95%);
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0;
    }

    .drawer-backdrop {
        position: relative;
        height: 250px;
    }

    .drawer-actions {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1002;
        color: #eee;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        width: 100%;
        height: 40px;
        padding: 0 16px;
        display: flex;
        justify-content: flex-end;
        color: white;
    }

    .drawer-header {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1001;
        color: #eee;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;
        width: 100%;
        height: 55px;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .drawer-name {
            display: flex;
            flex-direction: column;
            padding: 0;
            line-height: 1.2rem;
        }

        .drawer-main {
            font-size: 1.5rem;
            margin: 0;
            margin-right: 8px;
        }

        .drawer-sub {
            font-size: 0.8rem;
            margin: 0;
        }
    }

    .banner-topic {
        color: #c79f27 !important;
        font-weight: 700 !important;
        font-size: 1rem !important;
    }

    // Body Mobile
    .oscar-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        .header-action {
            width: 100%;
            display: flex;
            align-items: center;
            transition: all;
            justify-content: space-between;

        }

        .search-box {
            &.opened {
                width: 100%;
            }

            &:focus,
            &:focus-within {
                width: 100%;
            }
        }

        .movie-list {
            overflow: scroll;
        }
    }


}

// Mobile
@media screen and (max-width: 641px) {
    .settings-header {
        flex-direction: row-reverse;
    }

    .ant-drawer-content {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .plot-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .card-data {
        // display: none;
        // max-width: 255px;
        font-size: 0.9rem;
    }

    .poster-image-section {
        max-width: 164px;
    }

    .movie-list {
        padding-bottom: 100px;
        grid-template-columns: 1fr;
    }

    .new-card {
        width: 100%;
    }
}