.platform-icon {
  max-width: 40px;
  cursor: pointer;
  /* margin: 8px; */
  border-radius: 5px;
  transition: all ease 0.3s;
}

.platform-icon:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 500px) {
  .platform-icon {
    max-width: 30px;
  }
}
