/* #c79f27 oscar*/

* {
  font-family: "futura book legacy", "FuturaPT-Book", "Trebuchet MS", Arial,
    sans-serif;
  box-sizing: border-box;
}

.oscar-body {
  height: 100vh;
  /* padding: 5vmin; */
  /* overflow: hidden; */
}

.oscar-table {
  height: calc(100vh - 200px - 10vmin);
  overflow: auto;
}

.oscar-logo {
  height: 10vmin;
  pointer-events: none;
}

.tag-category {
  margin: 8px;
  text-transform: uppercase;
}

.tag-major {
  text-transform: uppercase;
}

.title-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.oscar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #111;
  height: 200px;
  background-color: #fff;
}

.watched {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.omdb-plot,
.omdb-poster {
  width: 250px;
  max-width: 250px;
  max-height: 370px;
}

.movie-indications {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.list-category {
  max-width: 250px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  padding: 50px 16px;
  background-color: #efefef;
}

.watch-checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.poster-image {
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.movie-card {
  transition: all ease 0.3s;
}
.checked {
  opacity: 0.4;
}

.movie-card:hover {
  opacity: 1;
}

.movie-checker {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 90px;
  height: 40px;
  background-color: #efefef;
}

.movie-plot {
  min-height: 216px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

.movie-plot p {
  display: flex;
  flex-direction: column;
}

@media (min-width: 650px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1919px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
