/* #c79f27 oscar*/

* {
  font-family: "futura book legacy", "FuturaPT-Book", "Trebuchet MS", Arial,
    sans-serif;
  box-sizing: border-box;
}

.oscar-body {
  height: 100vh;
}

.oscar-table {
  height: calc(100vh - 200px - 10vmin);
  overflow: auto;
}

.oscar-logo {
  height: 10vmin;
  pointer-events: none;
}

.tag-category {
  margin: 8px;
  text-transform: uppercase;
  user-select: none;
}

.tag-major {
  text-transform: uppercase;
  user-select: none;
}

.nominees-count {
  user-select: none;
}

.title-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.oscar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #111;
  height: 200px;
  background-color: #fff;
}

.watched {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.omdb-plot,
.omdb-poster {
  width: 250px;
  max-width: 250px;
  max-height: 370px;
}

.movie-indications {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.list-category {
  max-width: 250px;
  user-select: none;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  padding: 50px 16px;
  background-color: #efefef;
}

.watch-checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

  border: 1px solid transparent;
  transition: border ease 0.3s;
}

.poster-image {
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.movie-card {
  transition: all ease 0.3s;
}

.ant-card-bordered .ant-card-cover {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.checked {
  opacity: 0.4;
}

.movie-card:hover {
  opacity: 1;
  border-color: #c79f27 !important;

  .watch-checkbox {
    border-bottom-color: #c79f27;
    border-left-color: #c79f27;
  }
}

.movie-checker {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 90px;
  height: 40px;
  background-color: #efefef;
  transition: all ease 0.2s;
}

.watch-checked {
  width: 40px !important;
  overflow: hidden;
}

.ant-checkbox-checked.ant-checkbox + span {
  position: absolute;
  opacity: 0;
  padding: 0;
  transition: opacity ease 0.1s;
}

.ant-checkbox + span {
  transition: opacity ease 0.4s;
  opacity: 1;
}

.movie-plot {
  min-height: 260px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

.movie-plot p {
  display: flex;
  flex-direction: column;
}

.dark-button {
  position: absolute;
  cursor: pointer;
  font-size: 32px;
  right: 24px;
  top: 16px;
  transition: all ease 0.25s;
  color: #c79f27;
  &:hover {
    transform: rotate(-90deg);
  }
  &:active {
    animation: rotate 1 1s;
  }
}

.share-button {
  position: absolute;
  cursor: pointer;
  font-size: 32px;
  right: 64px;
  top: 16px;
  color: #c79f27;
}

@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 650px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1919px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.dark-mode {
  .oscar-body {
    background-color: #000;
  }

  .oscar-header {
    background-color: #000;
    color: #eee;
  }

  .movie-list,
  .movie-checker {
    background-color: #101010;
  }

  .watch-checkbox {
    color: #eee;
  }

  .ant-card-meta-description {
    color: #aaa;
  }

  .ant-card,
  .ant-card-actions {
    background-color: #333;
    color: #eee;
    border-color: #101010;
  }

  .ant-card-actions {
    border-top-color: #666;
  }

  .ant-card-actions > li:not(:last-child) {
    border-right-color: #666;
  }

  .ant-rate-star-zero {
    .ant-rate-star-first,
    .ant-rate-star-second {
      color: #0e0e0e;
    }
  }

  .ant-rate-star-half {
    .ant-rate-star-second {
      color: #0e0e0e;
    }
  }
  .ant-popover {
    color: rgba(255, 255, 255, 0.85);

    .ant-popover-inner {
      background-color: #1f1f1f;
      box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%),
        0 9px 28px 8px rgb(0 0 0 / 20%);

      .ant-popover-title {
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }

  .ant-popover-arrow-content {
    background-color: #1f1f1f;
  }

  .ant-popover-arrow-content::before {
    background: linear-gradient(to left, #1f1f1f 50%, #1f1f1f 50%) no-repeat -10px -10px;
    background-color: #1f1f1f;
  }

  .ant-message-notice-content {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.85);
  }
}

.ant-popover-arrow {
  background: transparent;
  border-bottom-color: #c79f27 !important;
  border-right-color: #c79f27 !important;
}
.ant-popover-inner {
  border: 1px solid #c79f27 !important;
}

.ant-popover-title {
  border-bottom: 1px solid rgba(200, 160, 40, 0.25);
}

@media (hover: none) and (pointer: coarse) {
  /* smartphones */

  body {
    user-select: none;
  }

  .movie-card:hover {
    border-color: transparent !important;

    .watch-checkbox {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
  .checked {
    opacity: 0.4 !important;
  }
}
